body {
    background-color: black;
    position: relative;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: "Nunito Sans", sans-serif;
}
.propagation {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 2s, height 2s;
    z-index: 3;
    filter: url(#turbulence);
}

.propagation.expand {
    width: 200vw;
    height: 200vw;
}
.button {
    background-color: black;
    color: white;
    border-radius: 1px 1px;
    padding: 11px 15px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    transition: background 0.5s, color 0.5s;
    cursor: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.button:hover {
    background-color: aliceblue;
    color: black;
}

.button:hover ~ .propagation {
    width: 200vw;
    height: 200vw;
}

.button:hover ~ body {
    background-color: white;
}

.button:hover:after {
    width: 500%;
    padding-top: 500%;
}

.button:after {
    content: "";
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    padding-top: 0;
    transition: width 0.5s, padding-top 0.5s;
    z-index: -1;
}


.fissure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 3s linear;
}

.button.cracked .fissure {
    stroke-dashoffset: 0;
}
.button:hover .fissure path {
    stroke: black;
}
#hello {
    color: black;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 3;
}

.overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 4;
    transition: transform 0.3s ease-in-out;
}

.overlay:hover {
    transform: translate(-50%, -50%) scale(1.1); 
}
.overlay p {
    color: white;
    font-size: 2em;
}


.mute-button img {
    position: absolute;
    top: -9px;
    left: 7px;
    z-index: 5;
    max-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp:hover {
    box-shadow: 0px 0px 3px 5px rgb(255,255,255);
}

.pfp {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 5px white;
}
.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay p {
    margin-bottom: 11px;
}
.small-images {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.small-image {
    margin: 0 5px;

}

.superp {
    width: 18px;
    margin: 0 5px;
}
.superv {
    width: 18px;
    margin: 0 5px;
}
.svg-inline--fa.fa-discord.fa-w-14 {
    width: 18px;
    color: white;
}

* {
    user-select: none;
    cursor: url(https://cur.cursors-4u.net/others/oth-8/oth704.cur), auto !important;
}